passwords.py
client_secret_935785917266-65e7lt6bfkjv1reghobgn585prudk3tc.apps.googleusercontent.com.json
.DS_Store
.idea/
OLDclient_secret_935785917266-65e7lt6bfkjv1reghobgn585prudk3tc.apps.googleusercontent.com.json
client_secret_935785917266-rq3ipa4cko64pjajpttut612v5ohbg5m.apps.googleusercontent.com.json
